<link href="/css/index.css" rel="stylesheet">
<div class="row">
	<div class="col-md-1"></div>
	 <div class="col-md-10">
	 		<div class="row">
	 				<div class="col-md-3 text-center index-content">
		 				<img src="/images/goods/1.jpg" />
		 				<div class="text-left padding-left-10">
		 					<button type="button" class="btn btn-danger btn-xs">点赞</button>
		 					<p>aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa</p>
		 				</div>
		 			</div>
		 			<div class="col-md-3 text-center index-content">
		 				<img src="/images/goods/2.jpg" />
		 				<div class="text-left padding-left-10">
		 					<button type="button" class="btn btn-danger btn-xs">点赞</button>
		 					<p>aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa</p>
		 				</div>
		 			</div>
		 			<div class="col-md-3 text-center index-content">
		 				<img src="/images/goods/3.jpg" />
		 				<div class="text-left padding-left-10">
		 					<button type="button" class="btn btn-danger btn-xs">点赞</button>
		 					<p>aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa</p>
		 				</div>
		 			</div>
		 			<div class="col-md-3 text-center index-content">
		 				<img src="/images/goods/4.jpg" />
		 				<div class="text-left padding-left-10">
		 					<button type="button" class="btn btn-danger btn-xs">点赞</button>
		 					<p>aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa</p>
		 				</div>
		 			</div>
	 		</div>
	 </div>
	 <div class="col-md-1"></div>
</div>

